
.navbar {
    left: 0;
    background-color: #ffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  
  .navbar-list {
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }
  .navbar-list-item{
    display: flex;
    flex-direction: column;
  }
  
  li{
    margin-top: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
  }
  .icon-text-container {
    display: flex; /* Utilisation de flexbox */
    align-items: center;
    justify-content: space-between; /* Centre les éléments verticalement */
    gap: 10px;
  }
  
  .icon1,.icon2,.icon3,.icon4,.icon5 {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Ajoute un peu d'espace entre l'image et le texte */
  }
  
  .text1, .text2, .text3, .text4, .text5 {
    font-size: 14px;
  }
  

  


  
  
  
  